openapi: 3.1.0
info:
  title: Fiserv BankingHub 3-D Secure Settlement API
  description: The Fiserv BankingHub API provides RESTful access to core banking operations including account management, transactions, transfers, payments, and party (customer) management. BankingHub enables financial institutions and fintech partners to integrate account opening, fund transfers, payment processing, and customer data management into their applications.
  version: 1.0.0
  contact:
    name: Fiserv Developer Support
    url: https://developer.fiserv.com/product/BankingHub
  termsOfService: https://www.fiserv.com/en/legal.html
servers:
- url: https://cert.api.fiservapps.com
  description: Certification Environment
- url: https://prod.api.fiservapps.com
  description: Production Environment
security:
- bearerAuth: []
tags:
- name: Settlement
  description: Retrieve settlement status for processed transactions.
paths:
  /settlestat:
    get:
      operationId: getSettlementStatus
      summary: Fiserv Get settlement status
      description: Retrieves the settlement status for transactions processed on a given date for a specified merchant.
      tags:
      - Settlement
      parameters:
      - name: merchid
        in: query
        required: true
        schema:
          type: string
        description: The CardPointe merchant ID.
      - name: date
        in: query
        required: true
        schema:
          type: string
          format: date
        description: The settlement date in MMDD format.
      responses:
        '200':
          description: Settlement status returned
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SettlementRecord'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  schemas:
    SettlementRecord:
      type: object
      description: Settlement status record for a transaction batch.
      properties:
        merchid:
          type: string
          description: The merchant identifier.
        retref:
          type: string
          description: The retrieval reference number.
        setlstat:
          type: string
          description: The settlement status.
        amount:
          type: string
          description: The settled amount.
    ErrorResponse:
      type: object
      description: Error response payload.
      properties:
        respstat:
          type: string
          description: The response status (C for declined/error).
        respcode:
          type: string
          description: The error response code.
        resptext:
          type: string
          description: A human-readable error message.
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 Bearer token for API authentication.
externalDocs:
  description: BankingHub API Documentation
  url: https://developer.fiserv.com/product/BankingHub/docs/?path=docs/get-started.md
