openapi: 3.1.0
info:
  title: Fiserv BankingHub 3-D Secure Void API
  description: The Fiserv BankingHub API provides RESTful access to core banking operations including account management, transactions, transfers, payments, and party (customer) management. BankingHub enables financial institutions and fintech partners to integrate account opening, fund transfers, payment processing, and customer data management into their applications.
  version: 1.0.0
  contact:
    name: Fiserv Developer Support
    url: https://developer.fiserv.com/product/BankingHub
  termsOfService: https://www.fiserv.com/en/legal.html
servers:
- url: https://cert.api.fiservapps.com
  description: Certification Environment
- url: https://prod.api.fiservapps.com
  description: Production Environment
security:
- bearerAuth: []
tags:
- name: Void
  description: Void previously authorized transactions before settlement.
paths:
  /void:
    put:
      operationId: voidTransaction
      summary: Fiserv Void a transaction
      description: Voids a previously authorized transaction that has not yet been settled. If the transaction has already been settled, use the refund endpoint instead.
      tags:
      - Void
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VoidRequest'
      responses:
        '200':
          description: Void processed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VoidResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  schemas:
    VoidRequest:
      type: object
      description: Void request payload.
      required:
      - merchid
      - retref
      properties:
        merchid:
          type: string
          description: The CardPointe merchant ID.
        retref:
          type: string
          description: The retrieval reference number of the transaction to void.
    VoidResponse:
      type: object
      description: Void response payload.
      properties:
        merchid:
          type: string
          description: The merchant identifier.
        retref:
          type: string
          description: The retrieval reference number.
        amount:
          type: string
          description: The voided amount.
        respcode:
          type: string
          description: The response code.
        resptext:
          type: string
          description: The response text.
        authcode:
          type: string
          description: The original authorization code.
    ErrorResponse:
      type: object
      description: Error response payload.
      properties:
        respstat:
          type: string
          description: The response status (C for declined/error).
        respcode:
          type: string
          description: The error response code.
        resptext:
          type: string
          description: A human-readable error message.
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 Bearer token for API authentication.
externalDocs:
  description: BankingHub API Documentation
  url: https://developer.fiserv.com/product/BankingHub/docs/?path=docs/get-started.md
